html{
  box-sizing: border-box;
}
*,*before,*:after{
  box-sizing: inherit;
}




 body{
      font-family: 'Raleway', sans-serif!important;
      background-color:#e9ecef!important;
    }


h1{
  color: black;
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: lighter;
  display: block;
  text-align: center!important;
}


    #aboutMe{
          background: url("imagenes/cafe-indoors-man-116025.jpg") fixed;
          height: 100vh;
          background-size: cover;
          background-position: center;
          }

          @media only screen and (max-width:667px)
          {
            #aboutMe{
              background-position: right;
              height: 40vh;
            }
          }


    #proyectos{
         background: url("imagenes/art-arts-and-crafts-brush-159657.jpg") fixed;
         height: 100vh;
         background-size: cover;
         background-position: center;
         }

         @media only screen and (max-width:667px)
         {
           #proyectos{
             background-position: right;
             height: 40vh;
           }
         }


    #algo-mas{
      background: url("imagenes/joanna-kosinska-289519-unsplash.jpg") fixed;
      height: 100vh;
      background-size: cover;
      background-position: center;
    }

    @media only screen and (max-width:667px)
    {
      #algo-mas{
        background-position: left;
        height: 40vh;
      }
    }


@media only screen and (min-width:320px)
{
  .tamano{
    overflow: hidden;
    max-width: 100%;
  }

}

    div.titulo h1{
      color: black;
      font-size: 7.3vw;
      text-transform: uppercase;
      font-weight: lighter;
      display: flex;
      justify-content: left;
    }

@media only screen and (min-width:768px)
{
  div.titulo h1
  {
    font-size: 3.3vw;
  }
}

h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30px;
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width:320px) {
  .contenedor{
    width: 90%;
  }
}

@media only screen and (min-width:768px) {
  .contenedor{
    width: 90%;
  }
}


@media only screen and (min-width:992px) {
  .contenedor{
    width: 90%;
    max-width: 1100px;
  }
}

/*PRESENTACION*/


@media only screen and (max-width:767px)
{

  div.titulo{
    margin: 70px 0 35px 0;
  }
  div.abajo{
    display: none;
  }

}



div.titulo{
  margin: 0px 150px 45px 0;
  float: left;
  height: 145px;
}


div.titulo h1{
  font-size: 2.7rem;
}

div.redes-sociales
{
  text-align: left;
}


div.presentacion{
  height: 100vh;
}
div.contenido-header{
    margin-top: 27%;
}

div.parrafo
{
  color: black;
  font-style: italic;
  line-height: 28px;
  display: table;
  font-size: 18px;
}

div.parrafo span{
  font-weight: bold;
}

div.redes-sociales a{
  color: black;
  font-size: 2.2rem;
  margin-right: 20px;
}

div.abajo{
  text-align: center;
  line-height: 245px;
}

div.abajo a{
  font-size: 3rem;
  color: rgba(13, 13, 13,.8);
  transition: all 1s ease;
}

div.abajo a:hover{
  color: #8c8c8c;
}


   /*Barra de navegacion*/
div.nav{
  width: 100%;
  z-index: 1;
  position: fixed;
  height:50px;
  background-color: rgba(13, 13, 13,.8);
}

nav.naveg{
  width:100%;
}

nav.naveg div.hamburger{
  display: none;
}

@media only screen and (max-width:767px)
{
  nav.naveg >div{
    display: none;
  }
  nav.naveg div.hamburger{
    display: block;
    padding-top: 11px;
  }
}


div.logo{
  float: left;
}

div.logo a{
  font-size: 35px;
  color: #ffffff;
  margin-left: 15px;
}

div.menu{
  display: flex;
  justify-content: flex-end;
}


div.menu ul li a{
  display: block;
  width: 150px;
  text-align: center;
  text-decoration:none;
  color:#ffffff;
  padding:10px 0px;
  height:50px;
}

div.menu ul li{
  float: left;
 }

div.menu ul li a:hover{
  text-decoration: none;
  background-color: rgba(179, 179, 179,.4);
  color: #ffffff;
  transition: all 1s ease;
}





nav ul{
  list-style: none;
  margin-bottom: 0;
}

nav ul::after{
  content:'';
  display: block;
  clear: both;
}


/*ESTILOS DEL BOTON DE MENU*/
.hamburger
{
    min-height: 30px;
    max-width: 50px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #ffffff;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
}

.hamburger-inner:before {
    top: 10px;
}

.hamburger-inner:after {
    top: 20px;
}

.hamburger.open .hamburger-inner {
    -webkit-transform: translate3d(0,10px,0) rotate(45deg);
    transform: translate3d(0,10px,0) rotate(45deg);
}

.hamburger.open .hamburger-inner:after {
    -webkit-transform: translate3d(0,-20px,0) rotate(-90deg);
    transform: translate3d(0,-20px,0) rotate(-90deg);
}

.hamburger.open .hamburger-inner:before {
    -webkit-transform: translate3d(0,-20px,0) rotate(90deg);
    transform: translate3d(0,-20px,0) rotate(90deg);
    opacity: 0;
}








/*contenido principal*/
.title
{

  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}
section.section{
  position: relative;
}

@media only screen and (min-width: 768px)
{
  .title
  {
      font-size: 3.7rem;
  }

}


img.yo{
  max-width: 100%;
  overflow-x: hidden;
}

div.perfil{
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
}


div.informacion1 a{
  font-size: 2em;
  color: #ffffff;
}

section#proyectos div.informacion1 p,h2{
  color:#e6e6e6;
}



section#algo-mas div.informacion1{
  text-align: right;
}

@media only screen and (max-width:667px)
{
  section div.informacion1 p,section div.informacion1 a{
    display: none;
  }
  section h2.title{
    display: flex;
    justify-content: center;
    line-height: 150px;
  }
}




/*FORMULARIO*/
section.contact{
  height: 55vh;
  background-color: #ffffff;
}


div.contenedor-form h2{
  max-width: 100%;
  padding-top: 80px;
}

div.contenedor-form p{
  text-align: center;
  font-style: italic;
  font-size: 16px;
  opacity: 0.6;
}

div.formulario{
  display: flex;
  padding: 40px 0 0 200px;
}

div.lista-contacto{
  width: 50%;
  float: left;
}


div.lista-contacto i{
  font-size: 20px;
  width: 30px;
}



div.datos{
  width: 50%;
}


div.datos input,textarea{
  border: 1px solid #ccc;
}


div.datos input{
  display: block;
  height: 30px;
  width: 50%;
  margin-bottom: 20px;
}

div.datos textarea{
  display: block;
  margin-bottom: 15px;
  height: 65px;
  width: 50%;
}

div.datos button{
  border: 1px solid #000000;
  color: #ffffff;
  background-color: #000000;
  margin-left: 168px;
}


div.datos button:hover{
  border: 1px solid #ccc;
  color: #ffffff;
  background-color: #ccc;
  cursor: pointer;
  transition: all 1s ease;
}


@media only screen and (max-width:767px)
{
  section.contact{
    height: 70vh;
  }

  div.formulario{
    text-align: center;
  }

  div.lista-contacto{
    display: none;
  }

  div.datos{
    width: -100%;
  }

  div.datos input, textarea{
    width: 100%;
  }

  div.datos button{
    margin-left: 0;
  }

}








/*FINAL*/
footer{
  background-color:	 #d9d9d9;
  height: 42vh;
}
.titulo-footer{
   padding: 25px 0;
   text-align: center;
 }

footer div.titulo-footer a{
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
}

footer div.titulo-footer a span{
  color: #0c5460;

}

footer div .redes-sociales{
  text-align: center;
}

div.foot{
  margin-top: 30px;
  text-align: center;
}

div.foot p{
  font-size: 0.8em;
  opacity: 0.8;
}


@media only screen and (max-width:667px)
{
  footer{
    height: 54vh;
  }

  div.titulo-footer a{
    font-size: 1.4em;
  }

  div.parrafo-footer p{
    font-size: 0.9em;
  }

}






/*POR SI ACASO*/
/*************ICONOS*****************/

/*
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qbegwf');
  src:  url('fonts/icomoon.eot?qbegwf#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?qbegwf') format('truetype'),
        url('fonts/icomoon.woff?qbegwf') format('woff'),
        url('fonts/icomoon.svg?qbegwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */

/*
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
*/


  /* Better Font Rendering =========== */
/*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*/
/*
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
*/
/******************FIN***********************/
