html{
  box-sizing: border-box;
}
*,*before,*:after{
  box-sizing: inherit;
}




/*CAJAS PRINCIPALES*/
header{
  height: 10vh;
  width: 100%;
}

section{
    width: 100%;
}


/*NAVEGACION*/
div.nav{
  background-color:rgba(13, 13, 13,.8);;
  width: 100%;
  height: 100%;
}







/*CONTENIDO PRINCIPAL*/

.index{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}
.info{
  height: 100%;
}



div.parrafo h1{
  font-size: 3.5rem;
  margin: 60px 0 25px 0;
  color: #808080;
  border-bottom: 2px solid #808080;
  display: inline-block;
}


div.parrafo{
  text-align: left;
  width: 100%;
}

div.parrafo span.letra{
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #808080;
}

div.imagen{
  text-align: center;
  clear: both;
}

div.imagen img{
  margin-top: 10%;
  width: 350px;
}


/*FOOTERRRRRRRR*/

footer{
  bottom: 0;
  height:7vh;
}

footer h4{
  text-align: center;
  padding-top: 45px;
  font-size: 1rem;
  color: #808080;
}




/*DISEÑO PARA PC*/

@media only screen and (min-width:768px){

  section{
    height: 80vh;
  }

  div.parrafo{
    width: 50%;
    padding-top: 70px;
    float: left;
  }

  div.parrafo h1{
    font-size: 3.5rem;
  }

  div.imagen{
    width: 45%;
    display: inline;
  }
   div.imagen img{
    margin: 22% 0 0 15%;
   }
}
























/*
 body{
      font-family: 'Raleway', sans-serif!important;
      background-color:#e9ecef!important;
    }


.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width:320px) {
  .contenedor{
    width: 90%;
  }
}

@media only screen and (min-width:768px) {
  .contenedor{
    width: 90%;
  }
}


@media only screen and (min-width:992px) {
  .contenedor{
    width: 90%;


  }
}

/*NAVEGACION*/
/*Barra de navegacion*/
/*
nav.naveg{
  display: none;
}

div.nav{
width: 100%;
height:60px;
background-color: #1a1a1a;
position: fixed;
}







@media only screen and (min-width:768px)
{
  div.nav{
    width: 260px;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
  }

  nav.naveg{
    display: block;
    padding-top: 40%;
  }

  div.titulo{
    text-align: center;
  }

  div.titulo a{
    text-decoration:none;
  }

  div.titulo h1{
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 85px;
  }


  div.menu{
    text-align: center;
  }
  div.menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px;
  }


  div.redes-sociales{
    text-align: center;
    margin-top: 85px;
  }

  div.redes-sociales a{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 20px;
  }

  div.menu a:hover{
    display: inline-block;
    background-color: #404040;
    transition: all 1s ease;
  }



}


/*CONTENIDO*/
/*
div.presentacion{
  max-width:100%;
  padding-top: 30%;
}


div.parrafo{
  width: 100%;
}

div.parrafo h1 span{
  font-weight: bold;
}

div.imagen img{
  width: 100%;
}

/*FOOTER*/
/*
footer{
  text-align: center;
  bottom: 0;
}
footer h4{
  font-size: 1.2rem;
  opacity: 0.6;
}




/*RESPONSIVE*/
/*
@media only screen and (min-width:768px)
{


  div.presentacion{
    padding-left: 260px;
    padding-top: 10%;
  }

  div.parrafo{
    float: left;
    width: 50%;
    margin-right: 50px;
  }

  div.imagen img{
    width: 350px;
  }



}
*/
